---
// Your microfrontend could fail with an error. This is a static version of your microfrontend that will be displayed
// to the user instead.

import { text } from "@src/language/text";
import type { Language } from "@src/language/types";
import styles from "@src/styles/index.module.css";
import "@src/styles/aksel.css";
import { isLocal } from "../../utils/environment";
import Komponent from "@src/components/Komponent.astro";
import { cvUrl } from "@src/utils/cvUrl.ts";

const language = Astro.currentLocale as Language;
---

{isLocal &&
<meta charset="UTF-8" />}
<section class="pam-min-side-microfrontend">
  <div class={styles.microfrontend}>
    <Komponent heading={text.title[language]} description={text.description[language]} cvUrl={cvUrl("production")}/>
  </div>
</section>
