/* Do not specify margin for the microfrontend */

.microfrontend {
    padding: 2rem;
    margin: auto;
    max-width: 808px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    background-color: var(--navds-semantic-color-canvas-background);
    font-family: sans-serif;
}
