---
import styles from "./LinkCard.module.css";
import { MIN_CV_URL } from "astro:env/server";
---

<a id={styles.linkcard} class="navds-panel navds-link-panel" href={MIN_CV_URL}>
  <div class="navds-link-panel__content">
    <slot />
  </div>
  <svg id={styles.linkcardChevron} class="navds-link-panel__chevron" width="24" height="24" viewBox="0 0 24 24"
       aria-hidden="true">
    <path d="M9 6l6 6-6 6" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" />
  </svg>
</a>

<script>
  import { logEvent } from "@src/utils/analytics";
  import { logger } from "@src/utils/logger.ts";

  const linkCard = document.querySelector("#linkCard");
  logger.info("Jeg har funnet linkCard ?", linkCard);
  linkCard?.addEventListener("click", () => logEvent(Astro.props.href));
</script>
